body {
  overflow-x: hidden;
  background-color: #f0efe1;
}
*{
  margin: 0;
  padding: 0;
}
/* Header  */
header{
  background-image: url("photo/img.png");
  background-size: contain;
  background-repeat: no-repeat;
  position: relative;
  min-height: 130vh;
}
/* nav link color and font-size  */
.nav-link{
  color: white;
  font-size: 30px;
}
/* hover  */
.nav-link:hover{
  color: brown;
}
.button1{
  border-radius: 20px;
  background-color: #f05151;
  color: white;
}
.button2{
  border-radius: 20px;
  background-color: #f05151;
  color: white;
}
p{
  font-size: 23px;
  color: #ff7575;
}
h1{
  color: #f05151;
}
h2{
  color: #ff7575;
}

/* align the text  */
.First-para{
  position: relative;
  top: 10rem;
}
.fw-bold {
  font-size: 50px;
}
/* style in the leftside */
#F-style {
  position: relative;
  top: -35rem;
}
.f-style1 {
  position: absolute;
  right: 87rem;
}
.f-style2 {
  position: absolute;
  right: 85rem;
  top: 10rem;
}
  /* style in the rightside */
#F-style1{
  position: relative;
  top: -34rem;
}
.f-style3 {
  position: absolute;
  left: 89rem;
  top: 4rem;
  z-index: -1;
}
.f-style4 {
  position: absolute;
  left: 84rem;
  top: 16rem;
}
.f-style5 {
  position: absolute;
  left: 87rem;
  top: 12rem;
  z-index: -1000;
}
/* second background in the Second section */
.background {
  width: 170%;
  background-repeat: no-repeat;
  z-index: 1;
}
/* style in the second section (left side) */
.S-style-L {
  position: relative;
}
.S-style1 {
  position: absolute;
  top: -15rem;
}
  
.S-style2 {
  position: absolute;
  left: 26.5rem;
  top: 1.9rem;
}
.S-style3 {
  position: absolute;
  left: 20.5rem;
  bottom: -3.4rem;
}
/* style in the second section (right side) */
.S-style-R {
  position: relative;
  z-index: -1;
}
.S-style-R-1 {
  position: absolute;
  right: -22rem;
  top: 3rem;
  z-index: -1;
}
.S-style-R-2 {
  position: absolute;
  right: 14rem;
  top: 21.1rem;
  z-index: -1;
  }
.S-style-R-3 {
  position: absolute;
  right: -25rem;
  z-index: -1;
  top: 12rem;
}
.S-style-R-4 {
  position: absolute;
  right: -25.6rem;
  z-index: -1;
  top: 12.4rem;
}
/* images , text and button */
.T-style{
  position: relative;
  top: -86rem;
}
.button4 {
  width: 40%;
  height: 2.5rem;
  border-radius: 30px;
  color: #ff695c;
  font-weight: 500;
  font-size: 20px;
  background-color: white;
}
.T-style3 {
  position: relative;
  top: -39rem;
}
/* Third section background image  */
.third-section {
  background-size: contain;
  width: 100%;
  background-repeat: no-repeat;
}
.THIRD-Section{
  position: relative;
  top: -40rem;
}
/* Third section style */
.Style-left-side{
  position: relative;
  right: 20rem;
  top: -90rem;
  z-index: -1;
}
.img24{
  position: absolute;
  left: -2rem;
}
.img22{
  position: absolute;
  z-index: 1;
  top: -7rem;
  left: 6rem;
}
.img23{
  position: absolute;
  z-index: 1;
  left: 6rem;
  top: -6.5rem;
}
.img1{
  position: absolute;
  z-index: 1;
  top: 29rem;
  left: 32rem;
}
/* STYLE IN THE RIGHT SIDE */
.Style-right-side{
  position: relative;
  top: -84rem;
  z-index: -1;
  right: 20rem;
}
.R-style3{
  position: relative;
  top: 9rem;
  right: 1.5rem;
}
.R-style4{
  position: relative;
  top: 12rem;
  right: 2.5rem;
}
/* FOOTER  */
footer{
  position: relative;
  top: -86rem;
  left: 9rem;
}
/* ICONS */
.icons{
  position: relative;
  top: -6rem;
  left: 30rem;
  font-size: 40px;
}

/* medium devices (tablets,768px and up) */
@media (max-width: 768px) {
  header {
    min-height: 57vh;
    background-size: cover;
}
  .f-style1 {
    top: 2rem;
    right: 42rem;
  }
  .f-para{
    position: relative;
    font-size: 20px;
    text-align: center;
  }
  .button1{
    font-size: 12px;
    position: absolute;
    justify-items: center;
  }
  .First-para{
    position: relative;
    top: -4rem;
    left: 10rem;
  }
  .fw-bold {
    font-size: 29px;
    text-align: center;
  }
  .nav-link{
    position: relative;
    font-size: 21px;
    right: 1rem;
    bottom: 2rem;
  }
  .responsive{
    max-width: 100%;
    height: auto;
  }
  .background{
    height: 150vh;
  }
  /* first paragraph with image  */
  .f-para-WI{
    font-size: 15px;
  }
  .button4{
    font-size: 10px;
  }
  .theme1{
    font-size: 25px;
  }
}

/* Small devices (landscape phones, 576px and up) */

/* Header */
@media (max-width: 576px) { 
  header {
    min-height: 90vh;
    background-size: contain;
  }
  .f-para{
  text-align: center;
  font-size: 14px;
}
.button1{
  font-size: 9px;
}
  .First-para{
    position: absolute;
    padding: 4rem;
    margin: 1rem;
    bottom: 20rem;
    left: 6rem;
    text-align: center;
  }
  .fw-bold {
    font-size: 20px;
    text-align: center;
  }
  .f-style1 {
    right: 33rem;
  }
  .nav-link{
    position: relative;
    font-size: 15px;
    bottom: 2rem;
  }
  .home{
    position: relative;
    right: 2rem;
  }
  span {
    display: block;
  }

  /* second section  */
  .paragraph{
    position: relative;
    top: -11rem;
    font-size: 5px;
  }
  .s-section{
    position: relative;
    top: -2rem;
    text-align: center;
  }
  .par{
    font-size: 14px;
  }
  .second-section{
    position: relative;
    top: 45rem;
  }
  /* All images  */
  .responsive{
    max-width: 100%;
    height: auto;
  }
  /* Second section/background image  */
  .background{
    width: 300%;
  }
}